.DS_Store
.gitignore
*#
*~
*.aux
*.log
*.dvi
*.toc
*.rel
*.pyc
build*
release*
data/aera
external/matplotlib/setupext.py
src/CR-Tools/implement/Pypeline/documentation/build
src/CR-Tools/implement/Pypeline/documentation/source/modules
