h1, h2, h3, h4, h5
{
    font-family: sans-serif;
}

/* Tables */
table
{
    margin: 10px 0 16px 0;
    padding: 0;
    line-height: 1.3em;
    border-collapse: collapse;
    border: 1px solid #d8d8d8;
}

table caption
{
    margin: 0;
    padding: 6px 0 8px 0;
    text-align: left;
    font-size: 1.2em;
    font-weight: normal;
    font-family: sans-serif;
}

table img
{
    width: 50%;
}

table.parameters tr:nth-child(odd)
{
    background: #f4f4f4;
}

th
{
    padding: 7px;
    font-weight: bold;
    text-align: left;
    background: #eaeaea;
    color: #505050;
}

td
{
    padding: 7px;
    font-size: 0.9em;
    text-align: left;
    color: #303030;
}

table tr.good td
{
    color: green;
}

table tr.error td
{
    color: red;
}

table tr.skipped td
{
    color: slateblue;
}

/* Navigation */
nav ul
{
    font-family: sans-serif;
    font-size: 14px;
    margin: 0;
    padding: 0;
    list-style: none;
}

nav ul li
{
    display: block;
    position: relative;
    float: left;
}

nav li ul
{
    display: none;
}

nav ul li a
{
    display: block;
    text-decoration: none;
    color: #303030;
    padding: 5px 15px 5px 15px;
    background: #f4f4f4;
    margin-left: 1px;
    white-space: nowrap;
}

nav ul li a:hover
{
    background: #eaeaea;
}

nav li:hover ul
{
    display: block;
    position: absolute;
}

nav li:hover li
{
    float: none;
    font-size: 11px;
}

nav li:hover a
{
    background: #f4f4f4;
}

nav li:hover li a:hover
{
    background: #eaeaea;
}

nav .dropdown:after
{
    content: ' \25bc';
}

.cf:after, .cf:before
{
    content:"";
    display:table;
}

.cf:after
{
    clear:both;
}

.cf
{
    zoom:1;
}

div.img
{
    margin:2px;
    border:1px solid #d8d8d8;
    height:auto;
    width:auto;
    float:left;
    text-align:center;
}

div.img img
{
    display:inline;
    width:250px;
    margin:3px;
    border:1px solid #ffffff;
}

div.img a:hover img
{
    border:1px solid #ffffff;
}

div.desc
{
    text-align:center;
    font-weight:normal;
    width:120px;
    margin:2px;
}

div.info
{
    display: block;
}

div.info table
{
    display: inline;
    float: left;
}

div.info figure
{
    display: inline;
    float: left;
}

div.info img
{
    width=250px;
}

