BODY {
  background: #CCCCCC;
  color: black;
  font-family: arial,helvetica,sans-serif;
  font-size: 8pt;
  text-align: left;
}
                                                                                
P {
  background: #CCCCCC;
  font-family: arial,helvetica,sans-serif;
  color: black;
  font-size: 8pt;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
}

TD {
  font-family: arial,helvetica,sans-serif;
  font-size: 8pt;
}

TH {
  font-family: arial,helvetica,sans-serif;
}
                                                                                

